@{
    Layout = null;
}
<html lang="en">
<head>
    <link href="~/css/new-password.css" rel="stylesheet">
    <title>Восстановление пароля</title>
</head>
<body>
    <div class="container">
        <div class="intro">
            <div class="container-borders">
                <div class="field">
                    <h2>Восстановление пароля</h2>
                    <div class="field-instruction">
                        Пароль был успешно сброшен,
                        придумайте новый пароль
                    </div>
                    <input type="password" placeholder="Новый пароль">
                    <input type="password" placeholder="Подтвердите пароль">
                    <button class="button" onclick="document.location='@Url.Action("main")'">
                        Войти
                    </button>
                    <div class="link-reg">
                        <p>Нет аккаунта? <a href="@Url.Action("registration")">Зарегистрируйтесь!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="copyright">
            ©Copyright 1987-2022 JoJobsessed.com™. Все права защищены.
        </div>
        <div class="contacts">
            <div сlass="contact">
                Телефон: 7 (900) 977 77 35
            </div>
            <div class="contact">
                E-Mail: jojobsessed@mail.ru
            </div>
            <div class="contact">
                Ул. Йошикаге, д. №4, с. №4
            </div>
        </div>
    </footer>
</body>
</html>