body {
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff; 
    margin: 0;
    background: url("../images/LisaLisa.jpg")
    center no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'Jojomix';
    src: url("../fonts/Jojomix-gEr4.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Header*/
.header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(250, 89, 89, 0.849);
    border-radius: 10px 30px;
    margin-top: 15px;
}

.logo {
    font-family: 'Jojomix';
    color: rgb(93, 0, 93);
    font-size: 47px;
    padding: 20px;
}

.navigation {
    padding-top: 25px;
}

.navigation a {
    padding-right: 50px;
    font-family: 'Overpass', sans-serif;
    font-size: 35px;
    color: #fff; 
    text-decoration: none;
    transition: 0.2s;
}

.navigation a:hover {
    color: #bababa;
    transition: 0.2s;
}

/*Container*/
.container {
    width: 100%;
    height: 100vh;
}

.container-borders {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.cart-field {
    width: 80%;
    margin-top: 25%;
}

/*Footer*/
.footer {
    height: 150px;
    background-color: #222222;
    font-size: 15px;
    text-align: center;
    color: #fff;
}

.copyright {
    padding-top: 15px;
}

.contacts {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.contact {
    margin-top: 15px;
    text-align: center;
}